<!-- Start content -->
<div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12">
        <div class="breadcrumb-holder">
          <h1 class="main-title float-left">Dashboard</h1>
          <ol class="breadcrumb float-right">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <!-- end row -->
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
        <div class="card-box noradius noborder bg-default">
          <i class="fa fa-university float-right text-white"></i>
          <h6 class="text-white text-uppercase m-b-20">Cursos</h6>
          <h1 class="m-b-20 text-white counter">137</h1>
          <span class="text-white"><%= link_to "<span class='fa fa-paper-plane'></span> Explorar Cursos".html_safe,"#",class: "text-white" %></span>
        </div>
      </div>

      <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
        <div class="card-box noradius noborder bg-warning">
          <i class="fa fa-book float-right text-white"></i>
          <h6 class="text-white text-uppercase m-b-20">Matérias</h6>
          <h1 class="m-b-20 text-white counter">751</h1>
          <span class="text-white"><%= link_to "<span class='fa fa-paper-plane'></span> Explorar Matérias".html_safe,"#",class: "text-white" %></span>
        </div>
      </div>

      <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
        <div class="card-box noradius noborder bg-info">
          <i class="fa fa-graduation-cap float-right text-white"></i>
          <h6 class="text-white text-uppercase m-b-20">Alunos</h6>
          <h1 class="m-b-20 text-white counter"><%= @users.length %></h1>
          <span class="text-white">felizes</span>
        </div>
      </div>

      <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
        <div class="card-box noradius noborder bg-danger">
          <i class="fa fa-bell-o float-right text-white"></i>
          <h6 class="text-white text-uppercase m-b-20">Alerts</h6>
          <h1 class="m-b-20 text-white counter">58</h1>
          <span class="text-white">5 New Alerts</span>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- END container-fluid -->
</div>
<!-- END content -->

<!-- BEGIN Java Script for this page -->