<div class="comentario-header">
  <i class="fa fa-user-circle"></i> <%= comment.user.full_name %>
  <a href="#" style="float: right;">16 <i class="fa fa-thumbs-up"></i></a>
</div>
<div class="comentario-body">
  <p><%= comment.content %></p>
</div>