%%container_commands:
%%  seeddb:
%%    command: 'export HOME=/root; rake db:seed'
%%    leader_only: true
%%files:
%%  "/opt/elasticbeanstalk/hooks/appdeploy/pre/13_db_seed.sh":
%%    mode: "000755"
%%    owner: root
%%    group: root
%%    content: |
%%      #!/usr/bin/env bash
%%      . /opt/elasticbeanstalk/support/envvars
%%      cd $EB_CONFIG_APP_ONDECK
%%      su -c "leader_only rake db:seed" $EB_CONFIG_APP_USER ||
%%      echo "Rake task failed to run, skipping seeding."
%%      true