<table>
    <thead>
        <tr>
            <th>Título</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <% @topics.each do |topic| %>
                <tr>
                    <td><%= topic.title %></td>
                    <td><%= topic.description %></td>
                </tr>
            <% end %>
        </tr>
    </tbody>
</table>
<%= link_to 'Criar novo tópico',new_topic_path %>