<%= stylesheet_link_tag "courses" %>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-white">
            <div class="panel-heading clearfix">
                <h2 class="panel-title">Professores do Curso de <%= @course.name %></h2>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="example1" class="table table-bordered table-hover display">
                        <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Detalhes</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Nome</th>
                            <th>Detalhes</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <% @professors.each do |professor| %>
                        <tr>
                            <td><%= professor.name %></td>
                            <td align="center"><%= link_to "Detalhes <i class='fa fa-external-link'></i>".html_safe, professor_path(professor),class: "label label-info" %></td>
                        </tr>
                        <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<%#= link_to 'New Course', new_course_path %>

<!-- BEGIN Java Script for this page -->

<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function(){
        $('#example1').dataTable({
            "oLanguage": {
                "sLengthMenu": "Mostrar _MENU_ professores por página",
                "sZeroRecords": "Nenhum registro encontrado - sorry",
                "sInfo": "Mostrando página _PAGE_ de _PAGES_",
                "sInfoEmpty": "Nenhum campo encontrado",
                "sInfoFiltered": "(filtrando de _MAX_ total de campos)",
                "sSearch": "Procurar:",
                "oPaginate": {
                    "sNext": "Próximo",
                    "sPrevious": "Anterior"
                }
            }
        });
    });
</script>