#btn-cadastrar{
  margin-right: 0.7em;
  margin-top: 0.4em;
  margin-left: 0.7em;
  border-radius: 20px;
}
.content-page {
  margin-top: 50px !important;
}

.alert {
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}