// Place all the styles related to the professors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.professor-profile-image img{
  max-height: none !important;
  border-radius: 100%;
}

// Professor Favorite
.isprofessor-favorite{
  background: orange;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  padding: 4px 8px;
}

// Professor not Favorite
.isnprofessor-favorite{
  background: grey;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  padding: 4px 8px;
}