// Place all the styles related to the Subjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-body-graph {
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.teacher-header {
  padding: 10px;
}

.teacher-header p {
  font-size: 1.3em;
  display: inline;
}
.teacher-header img{
  max-height: 3em;
  border-radius: 50px;
  margin-right: 0.5em;
}