<footer class="footer">
      <span class="text-right">
      Copyright <a target="_blank" href="#">Chiquinho</a>
      </span>
  <span class="float-right">
      Chiquinho <a target="_blank" href="https://www.pikeadmin.com"><b>Soluções LTDA</b></a>
      </span>
</footer>